header{
    background-color: var(--cor4);
    font-family: var(--fonte-padrão);
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
}

header > p{
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    

}
nav > a {
    transition-duration: 0,5s; /*pra ter uma transição quando passa o mouse */
}